<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2 style="color: rgb(250, 12, 12);"> 404 Post not found.
        Or,There are no post exist usin this id / username.</h2>
    <br>
    <hr>
    <br>
    <h3>Please Go Back!</h3>
    <br>
    <hr>
    <br>
    <form class="back" method="get" action="/posts">
        <button class="btn1">Back</button>
    </form>
</body>
</html>