<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram All Posts</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="head">
        <h1 style="color: rgb(36, 119, 244);">Instagram Posts</h1>
        <form method="get" action="/posts/search">
            <input type="text" placeholder="Enter username of post " name="username" id="search">
            <button class="btn2"> Search </button>
        </form>
        <a href="http://localhost:8080/posts/new"><button class="create btn1">Create Post</button></a>
    </div>